.drink-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 480px;
  margin: 0.5rem;
  border: 1.3px solid #000;
  overflow: hidden;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76%;
  overflow: hidden;
}
.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  border-bottom: 1.3px solid #000;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
  border-top: 1.3px solid #000;
}

h3 {
  font-family: "adobe-handwriting-ernie", sans-serif;
  font-size: 1.3rem;
  color: #000;
  text-align: center;
}
